<!-- ---
import DashboardView from '../views/DashboardView.vue';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
  </head>
  <body>
    <DashboardView client:load />
  </body>
  
</html> -->


